@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Poppins:ital,wght@0,400;1,100&display=swap');

.meus-filmes{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.meus-filmes ul{
    padding: 0;
}

ul li{
    padding: 0;
    list-style: none;
    min-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

span{
    font-weight: bold;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #070D0D;
}

button{
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    border: 0;
    border-radius: 5px;
    padding: 6px 10px 6px 10px;
    cursor: pointer;
    outline: none;
    background-color: #070D0D;
    color: #FFF; 
}

button:hover{
    transition: all a.5s;
    opacity: 0.9;
}

